<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon.ico">
  <link href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
  <title>Viaje entre libros</title>

  <style>
    .attribution {
      font-size: 11px;
      text-align: center;
    }

    .attribution a {
      color: hsl(228, 45%, 44%);
    }
  </style>
</head>

<body>

  <header id="header" class="header">
    <div class="overlay has-fade">

    </div>

    <nav class="container container--pall flex flex-jc-sb flex-ai-c">
      <a href="/dashboard" class="header__logo">
        <img src="/static/images/logo-Blinkist.png" alt="Blinkist" />
      </a>

      <div class="header__links hide-for-mobile">
        <a href="{{url_for('dashboard_cliente')}}">Inicio</a>
      </div>

      <div class="intro-btn hide-for-mobile">
        <div class="cta">
          <a href="{{ url_for('login') }}" class="button header__cta" onclick="logOut()">Cerrar sesión</a>
        </div>
      </div>

      <div class="hide-for-desktop">
        <a href="#" class="ham">
          <span>Menu</span>
        </a>
        <ul class="menu">
          <li><a class="menuLink" href="{{url_for('dashboard_cliente')}}">Inicio</a></li>
          <li><a class="menuLink" href="{{ url_for('login') }}" onclick="logOut()">Cerrar sesión</a></li>
        </ul>
      </div>

    </nav>

  </header>

  <section id="request" class="request">
    <div class="container containerequest container--pall">
      <span class="big-circle"></span>
      <img src="/static/images/shape.png" class="square" alt="">
      <div class="form">
        <div class="contact-info">
          <h3 class="title">Contratación de Plan Premium</h3>
          <p class="text">Disfruta del contendido completo en audio y PDF de tus resúmenes favoritos por un único pago de $29.99
          </p>

          <div class="social-media">
            <p>Conéctate con nosotros:</p>
            <div class="social-icons">
              <a href="https://instagram.com/viaje_entre_libros?igshid=hbcw065edncd">
                <svg xmlns="http://www.w3.org/2000/svg" width="21" height="20">
                  <title>Instagram</title>
                  <path fill="#FFF"
                    d="M10.333 1.802c2.67 0 2.987.01 4.042.059 2.71.123 3.976 1.409 4.1 4.099.048 1.054.057 1.37.057 4.04 0 2.672-.01 2.988-.058 4.042-.124 2.687-1.386 3.975-4.099 4.099-1.055.048-1.37.058-4.042.058-2.67 0-2.986-.01-4.04-.058-2.717-.124-3.976-1.416-4.1-4.1-.048-1.054-.058-1.37-.058-4.041 0-2.67.01-2.986.058-4.04.124-2.69 1.387-3.977 4.1-4.1 1.054-.048 1.37-.058 4.04-.058zm0-1.802C7.618 0 7.278.012 6.211.06 2.579.227.56 2.242.394 5.877.345 6.944.334 7.284.334 10s.011 3.057.06 4.123c.166 3.632 2.181 5.65 5.816 5.817 1.068.048 1.408.06 4.123.06 2.716 0 3.057-.012 4.124-.06 3.628-.167 5.651-2.182 5.816-5.817.049-1.066.06-1.407.06-4.123s-.011-3.056-.06-4.122C20.11 2.249 18.093.228 14.458.06 13.39.01 13.049 0 10.333 0zm0 4.865a5.135 5.135 0 100 10.27 5.135 5.135 0 000-10.27zm0 8.468a3.333 3.333 0 110-6.666 3.333 3.333 0 010 6.666zm5.339-9.87a1.2 1.2 0 10-.001 2.4 1.2 1.2 0 000-2.4z" />
                </svg>
              </a>
            </div>
          </div>
        </div>

        <div class="contact-form">
          <span class="circle one"></span>
          <span class="circle two"></span>

          <form action="{{ url_for('cardConfirm') }}" method="POST" autocomplete="off">
            <h3 class="title">Confirmación de datos</h3>
            <div class="input-container">
              <label for="name">Nombre</label>
              <input type="text" name="name" id="name" class="input" required>
              <span>Nombre</span>
            </div>
            <div class="input-container">
              <label for="card">Número de Tarjeta</label>
              <input type="number" name="card" id="card" class="input" required>
              <span>Número de Tarjeta</span>
            </div>
            <div class="input-container">
              <label for="expDate">Fecha de expiración</label>
              <input type="text" name="expDate" id="expDate" class="input" required>
              <span>Fecha de expiración</span>
            </div>
            <div class="input-container">
              <label for="cod">Código CVV</label>
              <input type="number" name="cod" id="cod" class="input" required>
              <span>Código CVV</span>
            </div>
            <input type="submit" id="submit" value="Realizar transacción" class="btn" />
          </form>
        </div>
      </div>
    </div>
  </section>

  <footer id="footer" class="footer">
    <div class="container">

      <a class="footer__logo" href="#">
        <img src="/static/images/logo-Blinkist-foot.png" />
      </a>

      <div class="footer__social">
        <a href="https://instagram.com/viaje_entre_libros?igshid=hbcw065edncd">
          <svg xmlns="http://www.w3.org/2000/svg" width="21" height="20">
            <title>Instagram</title>
            <path fill="#FFF"
              d="M10.333 1.802c2.67 0 2.987.01 4.042.059 2.71.123 3.976 1.409 4.1 4.099.048 1.054.057 1.37.057 4.04 0 2.672-.01 2.988-.058 4.042-.124 2.687-1.386 3.975-4.099 4.099-1.055.048-1.37.058-4.042.058-2.67 0-2.986-.01-4.04-.058-2.717-.124-3.976-1.416-4.1-4.1-.048-1.054-.058-1.37-.058-4.041 0-2.67.01-2.986.058-4.04.124-2.69 1.387-3.977 4.1-4.1 1.054-.048 1.37-.058 4.04-.058zm0-1.802C7.618 0 7.278.012 6.211.06 2.579.227.56 2.242.394 5.877.345 6.944.334 7.284.334 10s.011 3.057.06 4.123c.166 3.632 2.181 5.65 5.816 5.817 1.068.048 1.408.06 4.123.06 2.716 0 3.057-.012 4.124-.06 3.628-.167 5.651-2.182 5.816-5.817.049-1.066.06-1.407.06-4.123s-.011-3.056-.06-4.122C20.11 2.249 18.093.228 14.458.06 13.39.01 13.049 0 10.333 0zm0 4.865a5.135 5.135 0 100 10.27 5.135 5.135 0 000-10.27zm0 8.468a3.333 3.333 0 110-6.666 3.333 3.333 0 010 6.666zm5.339-9.87a1.2 1.2 0 10-.001 2.4 1.2 1.2 0 000-2.4z" />
          </svg>
        </a>
      </div>

      <div class="footer__links col1">
        <a href="{{url_for('dashboard_cliente')}}">Inicio</a>
      </div>

      <div class="footer__cta">
        <a href="{{ url_for('login') }}" class="button header__cta" onclick="logOut()">Cerrar sesión</a>
      </div>

      <div class="footer__copyright">
        &copy; Viaje entre libros. Todos los derechos reservados.
      </div>

    </div>
  </footer>

  <script src="https://www.w3schools.com/lib/w3.js"></script>
  <script src="{{url_for('static', filename='script.js')}}"></script>
</body>

</html> 